
<div class="m-content">
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
						<span class="m-portlet__head-icon m--hide">
							<i class="la la-gear"></i>
						</span>
                    <h3 class="m-portlet__head-text">
                       Individual Room Booking
                    </h3>
                </div>
            </div>
        </div>
        <!--begin::Form-->
        <form [formGroup]="customerForm" (ngSubmit)="saveModel(customerForm.value, customerForm.valid)" class="m-form m-form--label-align-left- m-form--state-">
            <!--begin: Form Body -->
            <div class="m-portlet__body">
                <!--begin: Form Wizard Step 1-->
                <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">
                    <div class="row">
                        <div class="col-xl-8 offset-xl-2">
                            <div class="m-form__section m-form__section--first">
                                <div class="m-form__heading">
                                    <h3 class="m-form__heading-title">
                                        Room Booking
                                    </h3>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                        * Mobile Number:
                                    </label>
                                    <div class="col-xl-9 col-lg-9">
                                        <input type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone"
                                               formControlName="first_name">
                                        <span class="m-form__help">
															Please enter the booking id
														</span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                        First Name:
                                    </label>
                                    <div class="col-xl-9 col-lg-9" formGroupName="contact_details">
                                        <input type="text" name="contact_details" class="form-control m-input" placeholder="" value="nick.stone@gmail.com"
                                               formControlName="primary_email">
                                        <span class="m-form__help">
															Please enter the first name of the customer
														</span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                        Last Name:
                                    </label>
                                    <div class="col-xl-9 col-lg-9" formGroupName="contact_details">
                                        <input type="text" name="contact_details" class="form-control m-input" placeholder="" value="nick.stone@gmail.com"
                                               formControlName="primary_email">
                                        <span class="m-form__help">
															Please enter the last name of the customer
														</span>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                        * From:
                                    </label>
                                    <div class="col-xl-9 col-lg-9">
                                        <input type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone"
                                               formControlName="first_name">
                                        <span class="m-form__help">
															Please select the from date
														</span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                        * To:
                                    </label>
                                    <div class="col-xl-9 col-lg-9">
                                        <input type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone"
                                               formControlName="first_name">
                                        <span class="m-form__help">
															Please enter to date
														</span>
                                    </div>
                                </div>

                            </div>


                            <div class="m-form__section">
                                <div class="m-portlet__foot m-portlet__foot--fit">
                                    <div class="m-form__actions">
                                        <button type="submit" class="btn btn-accent">
                                            Submit
                                        </button>
                                        <button type="reset" class="btn btn-secondary">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>
    <!--end::Portlet-->
</div>
