
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet" id="m_portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-calendar-2"></i>
							</span>
                            <h3 class="m-portlet__head-text">
                                Hall Booking
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
<!--                                <a href="#" class="btn btn-danger m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;air" (click)="onClick($event)">
									<span>
										<i class="la la-plus"></i>
										<span>
											Add Event
										</span>
									</span>
                                </a>-->
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#m_modal_5">
                                    Add Event
                                </button>
                            </li>
                            <li class="m--hide m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                                <a href="#" class="btn btn-focus m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
									<span>
										<i class="la la-cog"></i>
										<span>
											Settings
										</span>
									</span>
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 52px;"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
														<span class="m-nav__section-text">
															Quick Actions
														</span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                            <span class="m-nav__link-text">
																Activity
															</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                            <span class="m-nav__link-text">
																Messages
															</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-info"></i>
                                                            <span class="m-nav__link-text">
																FAQ
															</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                            <span class="m-nav__link-text">
																Support
															</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                                    <li class="m-nav__item">
                                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                            Cancel
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="m_calendar" ></div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
<!--end::Modal-->  <!--begin::Modal-->
<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    New message
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">
                            Title:
                        </label>
                        <input type="text" class="form-control" id="recipient-name" name="eventTitle" [(ngModel)] ="eventTitle">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">
                            Start Date:
                        </label>
                        <div class="input-group date">
                            <p-calendar class="form-control m-input" name="startDate" placeholder="Select date & time" [(ngModel)]="startTimestamp" showTime="true" hourFormat="12"></p-calendar>
                            <div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-calendar-check-o glyphicon-th"></i>
								</span>
                            </div>
                        </div>
                        <!--<input type="text" class="form-control" id="start-date" name="startDate" [(ngModel)] ="startDate">-->
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">
                            End Date:
                        </label>
                        <div class="input-group date">
                            <p-calendar class="form-control m-input" name="endDate" placeholder="Select date & time" [(ngModel)]="endTimestamp" showTime="true" hourFormat="12"></p-calendar>

                            <div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-calendar-check-o glyphicon-th"></i>
								</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">
                            Description:
                        </label>
                        <textarea class="form-control" id="message-text" name="description" [(ngModel)] ="description">></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary" (click)="onSubmit($event)">
                    Book
                </button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->  <!-- Modal -->